.classic-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  min-width: 400px;
  margin-bottom: 7px;
  border: 5px solid #555;
  background-color: #555;
  border-radius: 0.7rem;
  position: relative;
}

.input-field {
  flex: 1;
  padding: 1rem;
  border-bottom-left-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
  border: 2px solid #76726f;
  background-color: #424242;
  color: #f9f6ee;
  font-size: 1.3rem;
}

.submit-button {
  padding: 1rem;
  border-bottom-right-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border: none;
  background-color: #76726f;
  color: #f9f6ee;
  font-size: 1.3rem;
  cursor: pointer;
}

.no-character-found {
  display: flex;
  justify-content: center;
  color: #f9f6ee;
  font-size: 1.3rem;
}

.characters-list {
  min-width: 400px;
  max-height: 300px;
  margin-bottom: 1rem;
  background-color: #424242;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
  top: 115%;
}

.characters-list::-webkit-scrollbar {
  width: 1.5rem;
}

.characters-list::-webkit-scrollbar-thumb {
  background-color: #76726f;
}

.characters-list::-webkit-scrollbar-track {
  background-color: #424242;
}

.character {
  color: #f9f6ee;
  padding: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.character:hover {
  background-color: #555;
}

.classic-answers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(400px, 50%, 800px);
  margin: 3.5rem auto;
  position: relative;
}

.property-names {
  display: flex;
  align-items: center;
}

.property-name {
  flex: 1;
  margin: 0.1rem;
  color: #f9f6ee;
  font-size: 1.1rem;
  text-align: center;
}

.character-properties {
  display: flex;
  align-items: center;
  margin: 0.15rem;
  border-radius: 0.3rem;
}

.property {
  flex: 1;
  color: #f9f6ee;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 0 0.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.85rem;
  position: relative;
}

.property::before {
  content: "";
  display: block;
  padding-top: 80%;
}

.matching-property {
  background-image: url("../images/CellBackgroundCorrect.webp");
}

.partially-matching-property {
  background-image: url("../images/CellBackgroundPartial.webp");
}

.non-matching-property {
  background-image: url("../images/CellBackgroundBad.webp");
}
