footer {
  display: flex;
  flex-direction: column;
  margin: auto auto 0 auto;
  min-width: 250px;
}

.useful-links {
  display: flex;
  justify-content: space-between;
}

.useful-links img {
  width: 48px;
  height: auto;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}

.inspired {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.inspired a:visited {
  color: #f9f6ee;
}
