body {
  margin: 0;
  font-synthesis: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: url("../images/backgroundImage.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

img:focus,
input:focus {
  outline: none;
}

.text-shadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #f9f6ee;
  text-align: center;
}
