.choose-gamemode {
  flex: 1;
}

.gamemodes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gamemodes a {
  font-size: 2rem;
  margin: 10px;
  padding: 15px;
  width: clamp(400px, 50%, 600px);
  border-radius: 7px;
  border: 2px solid #76726f;
  color: #f9f6ee;
  text-decoration: none;
  background-color: #424242;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
}

.gamemodes a:hover {
  transform: scale(1.05);
}
